@import "rsuite/dist/rsuite.css";



.rdrNextButton i{
  position: relative;
  right: 7px;
}

.currentColor {
  display: none;
}

.rdrMonth {
  width: 100%;
}


.rs-sidenav-nav > .rs-sidenav-item,
.rs-sidenav-nav > .rs-dropdown .rs-dropdown-toggle {
  position: relative;
  left: 1px;
  width: 160px;
}

.rs-sidenav-default .rs-sidenav-item,
.rs-sidenav-default .rs-dropdown-toggle,
.rs-sidenav-default .rs-sidenav-toggle-button {
  background: none;
}

.siwpers {
  padding: 0.625rem 0.5rem 0.625rem 0px;
}
a {
  outline: none;
}

.rs-sidenav-default .rs-sidenav-item:hover {
  padding: 3px 30px;
  width: 280px;
  border-radius: 10px;
  position: relative;
  left: 28px;
}

.texthome:hover {
  position: relative;
  left: 17px;
}

.textNav:hover {
  position: relative;
  bottom: 11px;
}

body {
  background: #f8f8f8;
  direction: rtl;
  font-family: "MyFont";
}
.testimonials__container {
  width: 97%;
  height: 200px;
  padding-bottom: 4rem;
}

.container {
  height: 263px;
}

.swiper-slide {
  position: relative;
  left: 220px;
  z-index: 0;
}

.navbarsSidBar {
  border-radius: 15px 0 0 15px;
  height: 400px;
}

.bgImgs {
  border-radius: 10px 10px 0 0;
}

.navbars {
  transition: transform 300ms ease 12s;
}

.swiper-backface-hidden .sliderItems {
  width: 90%;
  margin: auto;
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  /* display: flex; */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.HeaderBg {
  background-image: url("../public/img/111111.jpg");
  background-attachment: fixed;
  background-size: contain;
  border-radius: 0 0 15px 15px;
  background-repeat: no-repeat;
}

.Color {
  color: #0373f3;
}

.color-white {
  color: white;
}

@font-face {
  font-family: "MyFont";
  src: local("MyFont"), url(../public//font/Vazir-Medium.woff) format("woff");
}

.ter {
  height: 100px;
}

.swiper-slide {
  margin: 0 40px;
  position: relative;
  left: 94px;
  z-index: 0;
}

.swiper-wrapper2 {
  margin: 0 10px;
  position: relative;
  /* left: 4px;  */
}

.swiper-wrapper3 {
  margin: 0 30px;
  position: relative;
  left: 0px;
  z-index: 0;
}

.container4 {
  position: relative;
  left: 0px;
  z-index: 0;
}

.bgimgsData {
  background-image: "../../public/img/111.jpg";
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.imgsBackGround {
  position: absolute;
  bottom: 0px;
  top: 3px;
  right: -8px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  padding-bottom: 1rem;
  width: 104px;
  border-radius: 0 0 10px 10px;
  height: 32px;
}

.rs-drawer-wrapper {
  background-color: gray;
  position: relative;
  bottom: 800px;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.sizeItemsBox {
  margin: 0 -7px;
}

.instagram {
  background: linear-gradient(
    125deg,
    rgb(131, 58, 180) 0%,
    rgb(253, 29, 29) 55%,
    rgb(252, 176, 69) 100%
  );

  .loader:empty {
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 4em);
    width: 6em;
    height: 6em;
    border: 1.1em solid rgba(0, 0, 0, 0.2);
    border-left: 1.1em solid #000000;
    border-radius: 50%;
    animation: load8 1.1s infinite linear;
  }

  @keyframes load8 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }



  
}
